* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #32cd9c;
}

.container {
    width: 350px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* text-align: center; */
}

.container input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #777777;
    margin-bottom: 20px;
    font-size: 12px;
    outline: none;
}

.btn {
    border: none !important;
    cursor: pointer;
    background-color: #32cd9c;
    margin: 15px 0;
    font-size: 20px;
    width: 100%;
    padding: 14px;
    border-radius: 8px;
    font-weight: 600;
}

.btn:hover {
    background-color: #1f7d;
    /* color: rgb(3, 3, 3); */
}